@import "tailwindcss";

@font-face {
	font-family: "ComicShannsMono";
	src: url("/ComicShannsMonoNerdFontMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ComicShannsMono";
	src: url("/ComicShannsMonoNerdFontMono-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {}

.dark {
	--bg: oklch(0 0 0 / 0.85);
	--theme-bg: #2c2c2c;
	--text: #e8e8e8;
	--text-secondary: theme('colors.gray.300');
	--accent: theme('colors.cyan.700');
}

body {
	font-family: "ComicShannsMono", monospace;
	background-color: var(--bg);
	overscroll-behavior: none;
	overflow: hidden;
}

input,
textarea {
	min-width: 0;
	outline: none;
}

input:focus,
textarea:focus {
	border-color: white;
}

@layer utilities {

	/* normal */
	.adaptive-size {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}

	/* narrow */
	@media (max-aspect-ratio: 1.5/1) {
		.adaptive-size {
			object-fit: cover;
		}
	}

	/* wide */
	@media (min-aspect-ratio: 2/1) {
		.adaptive-size {
			object-fit: contain;
		}
	}
}
